/* banner section style */
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap");

body {
  background-color: black;
}

.all-font-family {
  font-size: 30px;
  font-family: "Inter", sans-serif;
}
.all-mediam-font {
  font-family: "Inter", sans-serif;
}

.banner-container {
  max-width: 1440px;
  height: 600px;
  background: linear-gradient(black, rgba(58, 56, 56, 0.909), black);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.nav-container i {
  color: white;
  display: none;
}
.ul-container {
  display: flex;
  margin-right: 150px;
}
.nav-container h1 {
  color: #e6533c;
  margin-left: 150px;
  font-family: "Inter", sans-serif;
}
.list-container {
  list-style: none;
  margin-left: 40px;
}
.list-container span {
  background-color: #e6533c;
  padding: 3px 10px;
  border-radius: 20px;
}
.anchor-container {
  text-decoration: none;
  color: white;
}
.banner2 {
  display: flex;
  justify-content: space-between;
}

.banner-text-container {
  color: white;
  margin-left: 150px;
}
.banner-h1 {
  font-size: 52px;
  font-family: "Inter", sans-serif;
}
.banner-p2 {
  color: #919191;
}
.btn-primary {
  background-color: #e6533c;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.btn-primary2 {
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid white;
}
.btn-container {
  display: flex;
  gap: 12px;
}
.span1 {
  font-family: "Italianno", cursive;
  font-weight: 1;
}
.banner-image {
  margin-right: 70px;
  display: flex;
  position: relative;
}
.banner-image-text {
  color: white;
  position: absolute;
  background-color: #393939b6;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 120px;
  margin-left: 180px;
}
.line-hide {
  line-height: 0%;
}
.line-hide h2 {
  font-family: "Inter", sans-serif;
}
.banner-image-text2 {
  color: white;
  position: absolute;
  background-color: #222222c1;
  padding: 2px 20px;
  border-radius: 5px;
  margin-top: 350px;
  margin-left: -70px;
  display: flex;
}
.banner-image-text span {
  font-size: 8px;
}
.banner-image-text2 span {
  font-size: 8px;
}
.span1 {
}
.circle {
  height: 30px;
  width: 30px;
  background-color: #e6533c;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 12px;
}
.banner-image button {
}

/* Change your habit style */

.change-container {
  width: 950px;
  height: 430px;
  margin: 0 auto;
  margin-top: 23px;
  color: white;
}
.change-text-container {
  color: white;
  margin: 0 auto;
  text-align: center;
}
.change-image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.change-image-container img {
  border-radius: 50%;
}
.change-image1 h4 {
  text-align: center;
  justify-content: center;
}
.change-image1 h5 {
  text-align: center;
  justify-content: center;
}

/* run an extra section style */

.run-container {
  width: 950px;
  height: 350px;
  margin: 0 auto;
  margin-top: 23px;
  color: white;
  background-color: #222222;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.run-text-container {
  margin-top: 85px;
  margin-left: 30px;
}
.run-text-container button {
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
  background-color: #e6533c;
  color: white;
}
.run-image-container img {
  width: 70%;
  border-radius: 10px;
  margin-top: 23px;
  margin-left: 175px;
}

/* bmi calculator style */

.calculetor-text-container {
  text-align: center;
  align-items: center;
  color: white;
}
.calculetor-text-container h6 {
  color: #919191;
}

.bmi-calculator {
  max-width: 1440px;
  height: 370px;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-around;
}
table,
th,
td {
  border: 1px solid #383838;
  border-collapse: collapse;
  padding: 12px;
}
table,
td {
  color: #919191;
}
table,
th {
  color: white;
}
.number1 input {
  background-color: #383838;
  padding: 8px;
  border: none;
  width: 40%;
  border-radius: 8px;
  margin: 3px;
}
.number2 input {
  background-color: #383838;
  padding: 8px;
  border: none;
  width: 40%;
  border-radius: 8px;
  margin: 3px;
}
.select input {
  background-color: #383838;
  padding: 8px;
  border: none;
  width: 86%;
  border-radius: 8px;
  margin: 3px;
}
.bmi-calculator-text h5 {
  color: #919191;
}
.bmi-btn {
  padding: 10px 40px;
  background-color: #e6533c;
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 17px;
}
.bmi-calculator-table,
.bmi-calculator-text {
  margin-top: 30px;
}
/* meet out team style */

.meet-team-text-container {
  text-align: center;
  align-items: center;
  color: white;
}
.team-image-container {
  width: 680px;
  height: 415px;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  /* gap: 10px; */
}
.meet-team-container {
  position: relative;
}
.meet-team-container img {
  border-radius: 8px;
  height: 90%;
}
.text-block {
  position: absolute;
  color: white;
  margin-top: -70px;
  margin-left: 12px;
}
.text-block span {
  font-size: 12px;
  color: #919191;
}
.image3 {
  height: 100%;
  width: 100%;
}
.text-block-h4 {
  position: absolute;
  color: white;
  margin-top: -85px;
  margin-left: 12px;
}
.text-block-h4 span {
  font-size: 12px;
  color: #919191;
}

/* footer section style */

.fitness-h1 {
  color: #e6533c;
  font-size: 45px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  max-width: 1440px;
  height: 320px;
  background-color: #191919;
  margin-top: 40px;
}
.footer-text-container {
  color: white;
  display: flex;
  justify-content: space-around;
}
.footer-fitness,
.footer-start,
.footer-start2 {
  margin-top: 30px;
}
.hr-line {
  width: 988px;
  margin: 0 auto;
}
.hr-line hr {
  border: 0;
  height: 1px;
  background-color: #383838; /* Custom color */
}
.footer-h5 {
  color: #919191;
  text-align: center;
}
