@media screen and (max-width: 576px) {
  .ul-container {
    display: none;
  }
  .nav-container i {
    display: block;
  }
  .nav-container h1 {
    margin-left: 15px;
  }
  .nav-container i {
    margin-right: 15px;
    margin-top: 23px;
  }
  .banner2 {
    flex-direction: column;
  }
  .banner-text-container {
    margin-left: 20px;
  }
  .banner-image {
    margin-left: 100px;
    margin-top: 50px;
  }
  .change-image1 h3 {
    margin-right: 100px;
  }
  .change-image1 h5 {
    margin-right: 100px;
  }
  .change-image-container {
    flex-direction: column;
    margin-top: 70px;
    margin-left: 100px;
  }
  .change-text-container {
    margin: 0 auto;
    margin-top: 350px;
  }
  .change-container {
    width: 400px;
  }
  .run-container {
    margin-top: 920px;
    flex-direction: column;
    width: 400px;
    height: 400px;
  }
  .run-text-container {
    margin-top: 20px;
    margin-left: 55px;
  }
  .run-image-container img {
    margin-top: 20px;
    margin-left: 55px;
  }
  .run-text-container button {
    padding: 8px 100px;
  }
  /* bmi calculator style */
  .bmi-calculator {
    flex-direction: column;
  }
  .calculetor-text-container {
    text-align: start;
    align-items: start;
  }
  .bmi-calculator {
    height: 700px;
  }
  .bmi-calculator-table,
  .bmi-calculator-text {
    margin-left: 12px;
  }
  .meet-team-container img {
    height: 90%;
    width: 90%;
    margin-left: 15px;
  }
  .text-block {
    margin-left: 20px;
  }
  .team-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-image-container {
    width: 400px;
    height: 1910px;
  }
  .image3 {
    width: 90%;
  }
  .text-block-h4 {
    margin-top: -100px;
    margin-left: 30px;
  }
  .image6 {
    width: 90%;
  }
}
